# {{ ansible_managed }}

AUTOREBOOT="{{ 'yes' if auter_auto_reboot|bool else 'no' }}"
CONFIGSET="{{ auter_config_set }}"
MAXDELAY="{{ auter_max_delay }}"
ONLYINSTALLFROMPREP="{{ 'yes' if auter_only_install_from_prep|bool else 'no' }}"
PACKAGEMANAGEROPTIONS="{{ auter_package_manager_options }}"
PREAPPLYSCRIPTDIR="{{ auter_scripts.pre_apply.path if auter_scripts.pre_apply is defined else '/etc/auter/pre-apply.d' }}"
PREDOWNLOADUPDATES="{{ 'yes' if auter_pre_download_updates|bool else 'no' }}"
PREREBOOTSCRIPTDIR="{{ auter_scripts.pre_reboot.path if auter_scripts.pre_reboot is defined else '/etc/auter/pre-reboot.d' }}"
POSTAPPLYSCRIPTDIR="{{ auter_scripts.post_apply.path if auter_scripts.post_apply is defined else '/etc/auter/post-apply.d' }}"
POSTREBOOTSCRIPTDIR="{{ auter_scripts.post_reboot.path if auter_scripts.post_reboot is defined else '/etc/auter/post-reboot.d' }}"
