# {{ ansible_managed }}

AUTOREBOOT="{{ 'yes' if auter_autoreboot|bool else 'no' }}"
CONFIGSET="{{ auter_configset }}"
MAXDELAY="{{ auter_maxdelay }}"
ONLYINSTALLFROMPREP="{{ 'yes' if auter_onlyinstallfromprep|bool else 'no' }}"
PACKAGEMANAGEROPTIONS="{{ auter_packagemanageroptions }}"
POSTAPPLYSCRIPTDIR="{{ auter_postapplyscriptdir }}"
POSTREBOOTSCRIPTDIR="{{ auter_postrebootscriptdir }}"
PREAPPLYSCRIPTDIR="{{ auter_preapplyscriptdir }}"
PREDOWNLOADUPDATES="{{ 'yes' if auter_predownloadupdates|bool else 'no' }}"
PREREBOOTSCRIPTDIR="{{ auter_prerebootscriptdir }}"
